<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}" >
</head>
<body>
<!--/*@thymesVar id="title" type="kotlin.String"*/-->
<h1 th:text="${title}">Person v0.1</h1>
<h2>List of persons</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>Zip</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="persons" type="kotlin.collections.List"*/-->
    <tr th:each="person : ${persons}">
        <td th:text="${person.name}">Ally Mc Beal</td>
        <td th:text="${person.addressLine1}">Somewhere</td>
        <td th:text="${person.addressLine2}">Over the Rainbow</td>
        <td th:text="${person.city}">New York City</td>
        <td th:text="${person.zipCode}">12345</td>
    </tr>
    </tbody>
</table>
<h2>Add person</h2>
<!--/*@thymesVar id="person" type="com.exoscale.boot.zerodowntime.Person"*/-->
<form action="#" th:action="@{/}" th:object="${person}" method="post">
    <label>
        Name: <input type="text" th:field="*{name}" />
    </label><br>
    <label>
        Address Line 1: <input type="text" th:field="*{addressLine1}" />
    </label><br>
    <label>
        Address Line 2: <input type="text" th:field="*{addressLine2}" />
    </label><br>
    <label>
        City: <input type="text" th:field="*{city}" />
    </label><br>
    <label>
        Zip: <input type="text" th:field="*{zipCode}" />
    </label><br>
    <input type="submit" value="Create" />
</form>
</body>
</html>